<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <video width="720" height="480" src="https://storage.googleapis.com/staging.europe-west-183009.appspot.com/JIM/Movies/20.10.2017/08/Star.Trek.Beyond.2016.1080p.BluRay.x264.YTS.AG.mp4" controls autoplay />
</body>
</html>